################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArdPadConfig/ArdPadConfig/Form1.resx
/ArdPadConfig/ArdPadConfig/ArdPadConfig.csproj
